body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: rgb(39, 2, 99);
    margin: 0;
    padding: 20px;
}

.quiz-container {
    background: #de6af5;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button{
background-color: #ecd98e;
border: none;
padding: 10px;
margin-top: 15px;
font-size: 16px;
cursor: pointer;
border-radius: 5px;
}

button:hover{
    background-color: #dac18c;
    
}

.hidden{
    display: none;
}
.opcao{
    display: block;
    background-color: #b2dbee;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.opcao:hover {
    background-color: #666;
}

